body{ 
    background-image: url(/assets/images/download.png);
    background-size: 150%;
    height: 960px;
    
  

}
.row {
    margin: auto;
    width: 70%;
    padding: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
}

.col {
    height: 100%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
}

.jumbotron {
    margin: 0%;
    text-align: center;
    background-image: url(../images/jacksons.jpg);
    background-position: top;
    background-size: 100%;
    color: coral;
    text-shadow: 2px 2px white;
    font-family: aclonica, sans-serif;
    height: 460px;
}
.container {
    text-align: center;
    width: 100%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */

}
.btn-toolbar {
    width: 100%;
    margin-top: 90px;
    text-shadow: 2px 2px white;
    height: 100px;
    background-color: lightgray;
}
.btn-group{
    text-align: center;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.alphabet-image:hover {
    width: 45px;
}
.alphabet-image{
    width: 24px;
}

.display-3  {
    margin-bottom: -100px;
}

#bigletter  {
    font-family: fredericka-the-great, sans-serif;
    font-weight: 400;
    font-size: 200%;
    margin: auto;
    width: 70%;
    height: 100px;
    padding: 10px;
    text-shadow: 2px 2px black;
    text-align: center;
    color: white;

}

#bigletterheader {
    height: 100%;
    font-size: 500%;
    text-align: center;
    margin: 0%;
}

h3 {
    margin: auto;
    width: 70%;
    padding: 10px;
}

img  {
    width: 100%;
    height: auto;
}
.definition {
    margin: 0%;
}

.wordside {
    height: auto;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
}

#logoutbtn {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

#randomletter {
    align-self: center;
    background-color: coral;
    height: 200%;
}
.btn-letter  {
    margin: 0px;
    padding: 0;
    height: 200%;


}
.pronunciation-sound  {
    size: 300%;
}

#pronunciation {
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: 2px 2px black;
    font-size: 200%;
}

#definition {
    color: white;
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px black;
    font-family: aclonica, sans-serif;

}


h5  {
    color: black;
    text-shadow: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 200%;
}

.form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        color: white;
      }
.btn-primary {
    background-color: coral;
}

.pronunciation-sound    {
    color: white;
    text-align: center;
    text-shadow: 2px 2px hotpink;
}

label {
    color: white;
}

.pronunciation-sound    {
    color: white;
    text-align: center;
    text-shadow: 2px 2px hotpink;
}

#submit {
    background-color: coral

}
.form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        color: white;
      }
.btn-primary {
    background-color: coral;
}
.modal-title{
    color: black;
    text-shadow: none;
}
.modal-body{
    margin: auto;
}
#name{
    padding-left: 10px;
}
#signin-buttons{
    float: left;
}

footer{
    position: relative;
    width: 100%;
    left: 0; 
    bottom: 0;
}
.btn    {
    size: 200%;
}

